.box-container {
  color:black;
  padding: 20px;
  background:#ffffff;
  border-radius: 3px;
  box-shadow: 1px 5px 10px 0 rgba(0,0,0,.1);
}

.component {
  padding: 1.2em 0;
}

.box-title {
  display: block;
  margin-bottom: 25px;
  color: black(255, 255, 255);
}

.box-description {
  display: block;
  white-space: pre-line;
}

.box-link {
  margin-top: 30px;
  display: block;
}

.box-link > a {
  text-decoration: none;
  color: #747474;
}

.badge-status {
  display: inline-block;
  margin-top: 60px;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.badge-finished {
  color: black;
  background-color: #74ef89;
}

.badge-progress {
  color: rgb(255 255 255);
  background-color: #6a8491;
}
.badge-start {
  background-color: #2a84e1;
  color: white;
}

.btn-change-status {
  font-size: 1.1em;
  background-color: rgb(56 206 50);
  color: black;
  border: none;
  display: block;
  margin-top: 25px;
  height: 30px;
  border-radius: 2px;
}

.btn-edit-box {
  float: right;
}

.btn-edit-icon {
  color: #747474;
  cursor: pointer;
}

.btn-edit-icon:hover {
  color: #444343;
}

.btn-change-status:hover {
  background-color: #9aa59c;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {

  .btn-change-status:hover {
    background-color: #9aa59c;
    cursor: pointer;
  }

}

@media screen and (min-width: 721px) {

  .btn-change-status {
    display: block;
    float: none;
    margin-top: 30px;
  }


}
